.btn {
    color: #1b2a41 !important;
}

.page-footer {
    margin-top: 30px;
}

#search_button{
    margin-top: 15px;
}

.current {
    margin-left: 15px;
    margin-right: 15px;
}

.pagination {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}



.order-history-button {
    height: 30px;
    margin-top: 3px;
}

.car-image-div {
    height: 250px;
}

.car-image {
    height: 100%;
    object-fit: cover;
}

.car-image-div-recommend {
    height: 500px
}

#filter-button, #clear-button {
    margin-bottom: 15px;
}

#clear-button{
    margin-left: 5px;
}

#seat-slider {
    margin-top: 10px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    margin-right: 5px;
}

.seating {
    margin-right: 10px;
}

.series {
    padding-bottom: 5px;
}

.thing {
    height: 24px;
    display: inline-flex;
    vertical-align: top;
    margin-right: 5px;
}