<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!--Import Materialize CSS-->
    <link rel="stylesheet" href="{% static 'css/tablesort.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    {% block extracss %}{% endblock %}
    <title>{% block title %}{% endblock %} | CRDMP</title>
</head>

<body>

<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/customers">View Customers</a></li>
    <li><a href="/visualisecustomers">Customer Data Visualisation</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
    <li><a href="/rentals">View Rentals</a></li>
    <li><a href="/visualiserentals">Rental Data Visualisation</a></li>
</ul>

<ul id='dropdown3' class='dropdown-content'>
    <li><a href="vehicles">View Vehicles</a></li>
    <li><a href="vehiclerecommend">Vehicle Recommendation</a></li>
    <li><a href="visualisevehicles">Vehicle Data Visualisation</a></li>
</ul>

<ul id='dropdown4' class='dropdown-content'>
    <li><a href="/accounts/login">{% if user.is_authenticated %}Signed in as {{ user.username }} {% else %} Login {% endif %}</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
    {% if user.is_management %}<li><a href="/accounts/signup">Create User</a></li>{% endif %}
</ul>

<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">CRDMP 🚗</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>Customers</a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdown2'>Rentals</a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdown3'>Vehicles</a></li>
                <li><a class='dropdown-trigger' href='#' data-target='dropdown4'>Account</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="subheader">Customers</a></li>
    <li><a href="customers">View Customers</a></li>
    <li><a href="visualisecustomers">Customer Data Visualisation</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Rentals</a></li>
    <li><a href="rentals">View Rentals</a></li>
    <li><a href="visualiserentals">Rental Data Visualisation</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Vehicles</a></li>
    <li><a href="vehicles">View Vehicles</a></li>
    <li><a href="visualisevehicles">Vehicle Data Visualisation</a></li>
</ul>

<main class="">
    <div id="background">
        {% block content %}
        {% endblock %}
    </div>
</main>

 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Car Rental Database Management</h5>
                <p class="grey-text text-lighten-4">Created by some people for IFB299 Sem 2 2018</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Aquarius Inc.
            </div>
          </div>
        </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="{% static 'js/tablesort.min.js' %}"></script>
<script src="{% static 'js/sorts/tablesort.date.min.js' %}"></script>
<script src="{% static 'js/sorts/tablesort.number.min.js' %}"></script>
<script src="{% static 'js/sorts/tablesort.monthname.min.js' %}"></script>
<script src="{% static 'js/nouislider.js' %}"></script>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var options = {'constrainWidth': false, 'coverTrigger': false};
        var instances = M.Dropdown.init(elems, options);
    });

    $('.dropdown-trigger').dropdown();

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
    });


    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
{% block extrascripts %}{% endblock %}
</html>