{% extends 'base.html' %}

{% block title %}Customers{% endblock %}
{% block content %}
<div class="container">
    <h3>Customer Data</h2>
        <form>
            <div class="row">
                <div class="input-field col l2 m3 s4">
                    <select>
                        <option value="" disabled selected>Search Field</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Field to Search</label>
                </div>
                <div class="input-field col l9 m7 s5">
                    <input id="search_box" type="text" class="validate">
                    <label for="search_box">Search</label>
                </div>
                <a id="search_button" class="waves-effect waves-light btn col l1 m2 s3"><i
                        class="material-icons">search</i></a>
            </div>
        </form>


        <table id="table-id" class="striped">
            <thead>
            <tr>
                <th data-sort-default>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Occupation</th>
                <th>Gender</th>
            </tr>
            </thead>

            <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.dob }}</td>
                <td>{{ item.occupation }}</td>
                <td>{{ item.gender }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

{% block extrascripts %}
<script>
    new Tablesort(document.getElementById('table-id'));
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });


    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
{% endblock %}