{% extends 'base.html' %}

{% block title %}Customers{% endblock %}
{% block content %}
<div class="container">
    <h3>Customer Data</h3>
        <form action="customers" method="post">
            <div class="row">
                <div class="input-field col l2 m3 s4">
                    <select name="search_field">
                        <option value="" disabled selected>Search Field</option>
                        <option value="id">ID</option>
                        <option value="name">Name</option>
                        <option value="phone">Phone</option>
                        <option value="address">Address</option>
                        <option value="occupation">Occupation</option>
                        <option value="gender">Gender</option>
                    </select>
                    <label>Field to Search</label>
                </div>
                <div class="input-field col l9 m7 s5">
                    <input id="search_box" name="search_box" type="text" class="">
                    <label for="search_box">Search</label>
                </div>
                <button id="search_button" class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>

        <table id="table-id" class="striped">
            <thead>
            <tr>
                <th data-sort-default>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>DOB</th>
                <th>Occupation</th>
                <th>Gender</th>
            </tr>
            </thead>

            <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.dob }}</td>
                <td>{{ item.occupation }}</td>
                <td>{{ item.gender }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

{% block extrascripts %}
<script>
    new Tablesort(document.getElementById('table-id'));
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });


    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
{% endblock %}