{% extends 'base.html' %}

{% block title %}Rentals{% endblock %}
{% block content %}
<div class="container">
    <h3>Rental Data</h2>
    <!--<table>-->
        <!--<thead>-->
          <!--<tr>-->
              <!--<th>ID</th>-->
              <!--<th>Create Date</th>-->
              <!--<th>Pickup Date</th>-->
              <!--<th>Return Date</th>-->
              <!--<th>Car ID</th>-->
              <!--<th>Customer ID</th>-->
              <!--<th>Pickup Store ID</th>-->
              <!--<th>Return Store ID</th>-->
          <!--</tr>-->
        <!--</thead>-->

        <!--<tbody>-->
         <!--{% for item in data %}-->
         <!--<tr>-->
             <!--<td>{{ item.id }}</td>-->
             <!--<td>{{ item.createDate }}</td>-->
             <!--<td>{{ item.pickupDate }}</td>-->
             <!--<td>{{ item.returnDate }}</td>-->
             <!--<td>{{ item.car }}</td>-->
             <!--<td>{{ item.customer }}</td>-->
             <!--<td>{{ item.pickupStore }}</td>-->
             <!--<td>{{ item.returnStore }}</td>-->
         <!--</tr>-->
         <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
</div>
{% endblock %}