{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Visualisation{% endblock %}

{% block extracss %}<link rel="stylesheet" href="{% static 'css/visualise-customer.css' %}">{% endblock %}

{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/visualise_customer.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="tab">
	  <button class="tablinks" onclick="openTab(event, 'Amount of Customers', 'amountChart', obj.id)">Number of Customers</button>
	  <button class="tablinks" onclick="openTab(event, 'Occupation', 'occupationChart', obj.occupation)">Occupation</button>
	  <button class="tablinks" onclick="openTab(event, 'Gender', 'genderChart', obj.gender)">Gender</button>
	  <button class="tablinks" onclick="openTab(event, 'Repeat Customers', 'repeatChart', obj.customer)">Repeat Customers</button>
	  <button class="tablinks" onclick="openTab(event, 'dob', 'dobChart', obj.dob)">Age</button>
	 
	 
	</div>
	
		<div id="Amount of Customers" class="tabcontent">
	  <h3>Total Customers Over Time</h3>
	  <canvas id="amountChart" width="900" height="400"></canvas>

	</div>
	
		<div id="dob" class="tabcontent">
	  <h3>Customer Age Brackets</h3>
	  <canvas id="dobChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'dobChart', 'bar', obj.dob)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'dobChart', 'pie', obj.dob)">PIE</button>		
	  </div>
	</div>
	
	
	<div id="Occupation" class="tabcontent">
	  <h3>Customer Occupation</h3>
	  <canvas id="occupationChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'occupationChart', 'bar', obj.occupation)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'occupationChart', 'pie', obj.occupation)">PIE</button>		
	  </div>
	</div>

	<div id="Gender" class="tabcontent">
	  <h3>Customer Gender</h3>
	  <canvas id="genderChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'genderChart', 'bar', obj.gender)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'genderChart', 'pie', obj.gender)">PIE</button>	
			
	  </div>
	</div>

	
	<div id="Repeat Customers" class="tabcontent">
	  <h3>Repeat Customers</h3>
	  <canvas id="repeatChart" width="900" height="400"></canvas>
	
	  
	</div>
	
	
	

	
	
	<script>
	var obj = {{ js_data|safe }};
	</script>
	
</div>
{% endblock %}