{% extends 'base.html' %}
{% load static %}

{% block title %}Rental Visualisation{% endblock %}

{% block extracss %}<link rel="stylesheet" href="{% static 'css/visualise.css' %}">{% endblock %}

{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/visualise.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
<h3 class="card-panel" align="center">Rental Visualisation</h3>
	<div class="tab">
	  <button id="loadbtn" class="tablinks" onclick="openTab(event, 'bodyType', 'bodyTypeChart', obj.bodyType)">Body Type</button>
	  <button class="tablinks" onclick="openTab(event, 'pickupStore', 'pickupsChart', obj.pickupStore)">Pickup Store</button>
	  <button class="tablinks" onclick="openTab(event, 'returnStore', 'returnsChart', obj.returnStore)">Return Store</button>
    </div>
	
	<div id="returnStore" class="tabcontent"><br>
      <h4 align="center">Breakdown of Rentals by Return Store</h4>
	  <canvas id="returnsChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'returnsChart', 'bar', obj.returnStore)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'returnsChart', 'pie', obj.returnStore)">PIE</button>		
	  </div>
	</div>
	
	<div id="pickupStore" class="tabcontent" ><br>
      <h4 align="center">Breakdown of Rentals by Pickup Store</h4>
	  <canvas id="pickupsChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'pickupsChart', 'bar', obj.pickupStore)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'pickupsChart', 'pie', obj.pickupStore)">PIE</button>		
	  </div>
	</div>

	<div id="bodyType" class="tabcontent"><br>
      <h4 align="center">Breakdown of Rentals by Body Type</h4>
	  <canvas id="bodyTypeChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'bar', obj.bodyType)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'pie', obj.bodyType)">PIE</button>
			
	  </div>
	</div>
	
	
	<script>
	var obj = {{ js_data|safe }};
	</script>
	
</div>
{% endblock %}