{% extends 'base.html' %}

{% block title %}Vehicle Visualisation{% endblock %}
{% block content %}

<style>
body {font-family: Arial;}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div class="container">
	<div class="tab">
	  <button class="tablinks" onclick="openTab(event, 'Body Type', 'bodyTypeChart', obj.bodyTypes)">Body Type</button>
	  <button class="tablinks" onclick="openTab(event, 'Make', 'makeChart', obj.make)">Make</button>
	  <button class="tablinks" onclick="openTab(event, 'Model', 'modelChart', obj.model)">Model</button>
	  <button class="tablinks" onclick="openTab(event, 'Year', 'yearChart', obj.year)">Year</button>
	  <button class="tablinks" onclick="openTab(event, 'Price', 'priceChart', obj.price)">Price</button>
	  <button class="tablinks" onclick="openTab(event, 'Seating', 'seatingChart', obj.seating)">Seating</button>
	  <button class="tablinks" onclick="openTab(event, 'Drive Train', 'driveTrainChart', obj.driveTrain)">Drive Train</button>
	  
	</div>
	
	<div id="Body Type" class="tabcontent">
	  <button class="tablinks" onclick="changeGraph(event, 'bodyTypeChart', 'bar', obj.bodyTypes)">Bar</button>
	  <button class="tablinks" onclick="changeGraph(event, 'bodyTypeChart', 'pie', obj.bodyTypes)">Pie</button>
	  <p id="dicks"> hello </p>
	  <canvas id="bodyTypeChart" width="900" height="400"></canvas>
	</div>

	<div id="Make" class="tabcontent">
		<canvas id="makeChart" width="900" height="400"></canvas>
	</div>

	<div id="Model" class="tabcontent">
		<p>top 15</p>
		<canvas id="modelChart" width="900" height="400"></canvas>
	</div>
	
	<div id="Year" class="tabcontent">
		<p>year brackets</p>
		<canvas id="yearChart" width="900" height="400"></canvas>
	</div>
	
	<div id="Price" class="tabcontent">
		<p>price brackets</p>
		<canvas id="priceChart" width="900" height="400"></canvas>
	</div>
	
	<div id="Seating" class="tabcontent">
		<canvas id="seatingChart" width="900" height="400"></canvas>
	</div>
	
	<div id="Drive Train" class="tabcontent">
		<canvas id="driveTrainChart" width="900" height="400"></canvas>
	</div>
	
	<script>
	var obj = {{ js_data|safe }};
	var charts = {};
	
	function createGraph(chartName, chartType, chartObj) {
		var ctx = document.getElementById(chartName);
		var legendDisplay = false;
		if (chartType == 'pie') {
			legendDisplay = true;
		}
		
		var chart = new Chart(ctx, {
			type: chartType,
			data: {
				labels: chartObj.data.labels,
				datasets: [{
					label: chartObj.data.datasets[0].label,
					data: chartObj.data.datasets[0].data,
					backgroundColor: chartObj.data.datasets[0].backgroundColor
				}]
			},
			options: {
				legend: {
					display: legendDisplay
				}
			}
		});
		
		return chart;
	}
	
	function openTab(evt, tabName, chartName, chartObj) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
		
		<!-- charts -->
		var chartType = chartObj.type;
		charts[chartName] = createGraph(chartName, chartType, chartObj);
	}

	function changeGraph(evt, chartName, chartType, chartObj) {		
		charts[chartName].destroy();
		charts[chartName] = createGraph(chartName, chartType, chartObj);
	}
	</script>
	
</div>
{% endblock %}