{% extends 'base.html' %}

{% block title %}Vehicle Visualisation{% endblock %}
{% block content %}

<style>
body {font-family: Arial;}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.buttonContainer {
	text-align: center;
	width: 100%;
	margin: 15px;
}
	
.buttonGraph {
	border: none;
	background-color: #324A5F;
	color: white;
	cursor: pointer;
	font-size: 140%;
	padding: 2px 15px;
	font-family: "Segoe UI", monospace;
	border-radius: 2px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<div class="container">
	<div class="tab">
	  <button class="tablinks" onclick="openTab(event, 'Body Type', 'bodyTypeChart', obj.bodyTypes)">Body Type</button>
	  <button class="tablinks" onclick="openTab(event, 'Make', 'makeChart', obj.make)">Make</button>
	  <button class="tablinks" onclick="openTab(event, 'Model', 'modelChart', obj.model)">Model</button>
	  <button class="tablinks" onclick="openTab(event, 'Year', 'yearChart', obj.year)">Year</button>
	  <button class="tablinks" onclick="openTab(event, 'Price', 'priceChart', obj.price)">Price</button>
	  <button class="tablinks" onclick="openTab(event, 'Seating', 'seatingChart', obj.seating)">Seating</button>
	  <button class="tablinks" onclick="openTab(event, 'Drive Train', 'driveTrainChart', obj.driveTrain)">Drive Train</button>
	</div>
	
	<div id="Body Type" class="tabcontent">
	  <h3>...</h3>
	  <canvas id="bodyTypeChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'bar', obj.bodyTypes)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'pie', obj.bodyTypes)">PIE</button>		
	  </div>
	</div>

	<div id="Make" class="tabcontent">
	  <h3>...</h3>
	  <canvas id="makeChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'makeChart', 'bar', obj.make)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'makeChart', 'pie', obj.make)">PIE</button>		
	  </div>
	</div>

	<div id="Model" class="tabcontent">
	  <h3>top 15</h3>
	  <canvas id="modelChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'modelChart', 'bar', obj.model)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'modelChart', 'pie', obj.model)">PIE</button>		
	  </div>
	</div>
	
	<div id="Year" class="tabcontent">
	  <h3>year brackets</h3>
	  <canvas id="yearChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'yearChart', 'bar', obj.year)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'yearChart', 'pie', obj.year)">PIE</button>		
	  </div>
	</div>
	
	<div id="Price" class="tabcontent">
	  <h3>price brackets</h3>
	  <canvas id="priceChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'priceChart', 'bar', obj.price)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'priceChart', 'pie', obj.price)">PIE</button>		
	  </div>
	</div>
	
	<div id="Seating" class="tabcontent">
	  <h3>...</h3>
	  <canvas id="seatingChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'seatingChart', 'bar', obj.seating)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'seatingChart', 'pie', obj.seating)">PIE</button>		
	  </div>
	</div>
	
	<div id="Drive Train" class="tabcontent">
	  <h3>...</h3>
	  <canvas id="driveTrainChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'driveTrainChart', 'bar', obj.driveTrain)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'driveTrainChart', 'pie', obj.driveTrain)">PIE</button>		
	  </div>
	</div>
	
	<script>
	var obj = {{ js_data|safe }};
	var charts = {};
	
	function createGraph(chartName, chartType, chartObj) {
		var ctx = document.getElementById(chartName);
		var legendDisplay = false;
		var gridLinesDisplay = true;
		if (chartType == 'pie') {
			legendDisplay = true;
			gridLinesDisplay = false;
		}
		
		var chart = new Chart(ctx, {
			type: chartType,
			data: {
				labels: chartObj.data.labels,
				datasets: [{
					label: chartObj.data.datasets[0].label,
					data: chartObj.data.datasets[0].data,
					backgroundColor: chartObj.data.datasets[0].backgroundColor
				}]
			},
			options: {
				legend: {
					display: legendDisplay
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							display: gridLinesDisplay
							
						},
						gridLines: {
							display: gridLinesDisplay
						}
					}]
				}				
			}
		});
		
		return chart;
	}
	
	function openTab(evt, tabName, chartName, chartObj) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
		
		<!-- charts -->
		if (typeof charts[chartName] != "undefined") {
			charts[chartName].destroy();
		}
		var chartType = chartObj.type;
		charts[chartName] = createGraph(chartName, chartType, chartObj);
	}

	function changeGraph(evt, chartName, chartType, chartObj) {		
		charts[chartName].destroy();
		charts[chartName] = createGraph(chartName, chartType, chartObj);
	}
	</script>
	
</div>
{% endblock %}