{% extends 'base.html' %}
{% load static %}

{% block title %}Vehicle Visualisation{% endblock %}

{% block extracss %}<link rel="stylesheet" href="{% static 'css/visualise-vehicle.css' %}">{% endblock %}

{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/visualise_vehicle.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="tab">
	  <button class="tablinks" onclick="openTab(event, 'Body Type', 'bodyTypeChart', obj.bodyTypes)">Body Type</button>
	  <button class="tablinks" onclick="openTab(event, 'Make', 'makeChart', obj.make)">Make</button>
	  <button class="tablinks" onclick="openTab(event, 'Model', 'modelChart', obj.model)">Model</button>
	  <button class="tablinks" onclick="openTab(event, 'Year', 'yearChart', obj.year)">Year</button>
	  <button class="tablinks" onclick="openTab(event, 'Price', 'priceChart', obj.price)">Price</button>
	  <button class="tablinks" onclick="openTab(event, 'Seating', 'seatingChart', obj.seating)">Seating</button>
	  <button class="tablinks" onclick="openTab(event, 'Drive Train', 'driveTrainChart', obj.driveTrain)">Drive Train</button>
	</div>
	
	<div id="Body Type" class="tabcontent">
	  <h3>Breakdown of Body Types</h3>
	  <canvas id="bodyTypeChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'bar', obj.bodyTypes)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'bodyTypeChart', 'pie', obj.bodyTypes)">PIE</button>		
	  </div>
	</div>

	<div id="Make" class="tabcontent">
	  <h3>Breakdown of Fleet Make</h3>
	  <canvas id="makeChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'makeChart', 'bar', obj.make)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'makeChart', 'pie', obj.make)">PIE</button>		
	  </div>
	</div>

	<div id="Model" class="tabcontent">
	  <h3>Breakdown of Top 20 Fleet Models</h3>
	  <canvas id="modelChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'modelChart', 'bar', obj.model)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'modelChart', 'pie', obj.model)">PIE</button>		
	  </div>
	</div>
	
	<div id="Year" class="tabcontent">
	  <h3>Breakdown of Vehicle Year of Make</h3>
	  <canvas id="yearChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'yearChart', 'bar', obj.year)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'yearChart', 'pie', obj.year)">PIE</button>		
	  </div>
	</div>
	
	<div id="Price" class="tabcontent">
	  <h3>Breakdown of Initial Vehicle Prices</h3>
	  <canvas id="priceChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'priceChart', 'bar', obj.price)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'priceChart', 'pie', obj.price)">PIE</button>		
	  </div>
	</div>

	<div id="Seating" class="tabcontent">
	  <h3>Breakdown of Fleet Seating</h3>
	  <canvas id="seatingChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'seatingChart', 'bar', obj.seating)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'seatingChart', 'pie', obj.seating)">PIE</button>		
	  </div>
	</div>

	<div id="Drive Train" class="tabcontent">
	  <h3>Breakdown of Top 20 Drive Train Types</h3>
	  <canvas id="driveTrainChart" width="900" height="400"></canvas>
	  <div class="buttonContainer">
	    <button class="buttonGraph" onclick="changeGraph(event, 'driveTrainChart', 'bar', obj.driveTrain)">BAR</button>
	    <button class="buttonGraph" onclick="changeGraph(event, 'driveTrainChart', 'pie', obj.driveTrain)">PIE</button>		
	  </div>
	</div>

	<script>
	var obj = {{ js_data|safe }};
	</script>
	
</div>
{% endblock %}